body {
     background-image: url("images/image.webp"); 
      background-repeat: no-repeat;
     background-size: 100%; 
     color: white;
     overflow: hidden;
  } 
    

.container{
     display:flex; 
     justify-content: center;
     margin-top: 5%;
     font-size: 200px;
     font-family: Georgia, 'Times New Roman', Times, serif ;
     
}


.anim{
    margin-right: 8%;
 position: relative;
top: 10%;
left: 18%; 
transform:translate(-50%,-50%); 
animation: orbit2 4s infinite;
}


@-webkit-keyframes orbit2 {
    from {  -webkit-transform: rotate(0deg) translateX(-200px) rotate(0deg); }
    to   {  -webkit-transform: rotate(360deg) translateX(-200px) rotate(-360deg); }
}


.o{
box-shadow: 0px 10px 100px white;
width: 150px;
height: 150px;
margin-top: 17%;
background-color: white;
border-radius: 50%;
margin-right: 15%;
}




  